@charset "UTF-8";
	
body,input,textarea,select {
	font-size: 9pt;
}

ul {
	font-size: 8pt;
}

input#ricerca {
	width: 120px;
}	

#header .container {
	position: relative;
	padding: 3em 0em;
	z-index: 1; /* settato per far vedere div login*/
}

#banner {
	padding: 7em 0em 7em 0em;
}
	
#banner header h2 {
	font-size: 2.5em;
}
	
#banner header .byline {
	padding-top: 1em;
	font-size: 1.8em;
	font-weight: 500;
}

/* Logo */
#logo img {
	height: 40px;
	width: 90px;
}
	
#logo {
	position: absolute;
	float: left;
	left: 0em;
	top: 1.7em;
}

#nav > ul > li:last-child { padding-right: 0; }

input#search {
	position: absolute;
	bottom: 0;
	right: 35px;
	height: 138px;
	line-height: 20px;
}

/* Nav */
#nav {
	position: absolute;
	right: 0em;
	top: 1.1em;
}

#main {
	padding: 4em 0em;
}	
	
.sidebar header h2 {
	font-size: 1.8em;
}

.capo > img {
	width:350px;
	height:100%;
}

.3u {
	display:inline;	
}

#img_fronte {
	width: 150px;
	height: 180px;
	display: inline;
}
	
#img_retro {
	width: 150px;
	height: 180px;
	display: inline;
}

#img_lato {
	width: 150px;
	height: 180px;
	display: inline;
}

#extra {
	padding: 7em 0em;
}
	
#featured {
	padding: 6em 0em;
}

#footer {
	padding: 7em 0em;
}